#DB_CONN="postgresql://etoapp:password@db:5432/etoapp"
DB_CONN='mysql+mysqlconnector://backend-server2:{{ back2_pass }}@{{ DBmast }}:3306/backend_db'

# 8000 = default
PYTHONPATH=$PWD
UVICORN_PORT=3000
UVICORN_HOST=0.0.0.0
BACKEND_VERSION=1.0.0
# If you need sentry — uncomment SENTRY_DNS variable and set it
#SENTRY_DSN="https://<dsn>.ingest.sentry.io/<id>"